<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #f8c33e; ">
        <div class="container d-flex">
            <div>
                <img src="~/Content/img/logo.png" width="70" />
                @Html.ActionLink("ItalyInBox", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-self-baseline" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page">@Html.ActionLink("Privati", "Privati", "Gestione")</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link">@Html.ActionLink("Aziende", "Aziende", "Gestione")</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link">@Html.ActionLink("Spedizioni", "Spedizioni", "Gestione")</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item mx-2">
                                <a class="nav-link">@Html.ActionLink("Logout", "Logout", "Home")</a>
                            </li>
                        }
                        else {  
                            <li class="nav-item mx-2">
                                <a class="nav-link">@Html.ActionLink("Login", "Login", "Home")</a>
                            </li> 
                            }
                    </ul>
                </div>
            </div>
        </div>
</nav>
    <div class="container body-content">
        @RenderBody()
    </div>
        <footer class="container-fluid" style="background-color: #f8c33e;" >
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET by Daniela</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
